<link type="text/css" href="~/EncryptPage.css" rel="stylesheet" />

<header class="encrypt-page">
    <div class="content-wrapper">
        <div>
            <h1>@ViewBag.Title</h1>
            <img src="http://avizier.upt.ro/wp-content/uploads/2013/10/logo3.jpg" alt="UPT Logo">
        </div>
    </div>
</header>

<body class="encrypt-page">
    <div id="body" class="encrypt-page">

        <section class="featured">
            <div class="content-wrapper">
                <h2> Enter Encoded Message and RSA key for decryption. </h2>
            </div>
        </section>

        @using (Html.BeginForm())
        {

            <section class="content-wrapper main-content clear-fix">
                <div class="panel-body">
                    <label class="col-sm-3 control-label">Head</label>
                    <div class="col-sm-8">
                        <textarea readonly name="headSection" id="headSection">@ViewBag.head</textarea>
                    </div>
                </div>
                <br />
                <div class="panel-body">
                    <label class="col-sm-3 control-label">Content</label>
                    <div class="col-sm-8">
                        <textarea readonly name="contentSection" id="contentSection">@ViewBag.content</textarea>
                    </div>
                </div>
                <br />
                <div class="panel-body">
                    <label class="col-sm-3 control-label">Footer</label>
                    <div class="col-sm-8">
                        <textarea readonly name="footerSection" id="footerSection">@ViewBag.footer</textarea>
                    </div>
                </div>
                <br />
                <button class="encrypt-page-button" name="action" value="importMessage">Import Encoded Message</button>
                <button class="encrypt-page-button" name="action" value="importKey">Import RSA key</button>
            </section>

        }
        <section class="featured">
            <div class="content-wrapper">
            </div>
        </section>
    </div>
</body>